html,
body {
    margin: 0;
    background-color: #fffffe;
    font-family: "Gill Sans", sans-serif;
}

body {
    padding: 0 0 55px 0;
}

#banner {
    width: 100%;
}

#navcontainer {
    background-color: #f7c049;
}

.greeting {
    color: whitesmoke;
}

#content {
    color: #020826;
    font-size: 15px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
    color: #716040;
}

.form .invalid-feedback {
    display: block;
}

.form button {
    background-color: #716040;
    border: 1px solid #615030;
    color: #FFF;
}

#footer {
    background-color: #716040;
    color: #fffffe;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 15px;
    text-align: center;
}

.bricklayer-column-sizer {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .bricklayer-column-sizer {
        width: 33.3%;
    }
}
.card {
    margin: 1rem auto;
}

a.disabled {
    pointer-events: none;
    cursor: text;
    color: #777;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
	scroll-behavior: auto;
    }
}

.is-starred {
    color: #f5c61b;
    cursor: pointer;
}

.is-not-starred {
    color: rgb(170, 170, 170);
    cursor: pointer;
}
