{% extends "layout.html" %} {% block content %} 
<style>
    p{
    color:#716040;
    margin:auto;
    width:50%;
    padding: 10px;
    }
    </style>
<p>Hi there friend! I'm JC, and welcome to my blog -JCable</p>
<P>I am a MSc Computing student at the Cardiff University. </P>
<p>Currently in Jcable, I will mainly write about my UX learning experience, and upload some of the notes of mine. </p>
<p>Blogging is relatively new to me, and I believe I can do more to help Jcable reaches its high potential. </p>
<p>Feedback and suggetions are welcomed, and please feel free to contact me</p> {%
endblock content %}
